.calc-container {
    display: flex;
    flex-flow: row wrap;
    width: 277px;
    /*height: 500px;*/
}
.calc-display {
    display: flex;
    min-height: 65px;
    margin-bottom: 4px;
    border: 1px solid darkred;
}
.calc-display {
    flex: 100%;
}
.calc-result {
    flex: 1;
}
.calc-operator {
    flex: 10%;
}
.calc-operand {
    flex: 90%;
}
.calc-first, .calc-second, .calc-operator {
    line-height: 65px;
    font-size: 30px;
    text-align: right;
}
.calc-keypad {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 340px;
}
.calc-button {
    flex: 0 0 auto;
    box-sizing: border-box;
    line-height: 65px;
    text-align: center;
    font-size: 30px;
    border: 1px solid darkred;
    width: 23.38%;
    height: 19.06%;
}
button.calc-double {
    width: 48.92%;
}